<%= form_with(model: b) do |form| %>
  <% if b.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(b.errors.count, "error") %> prohibited this b from being saved:</h2>

      <ul>
        <% b.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cod %>
    <%= form.text_field :cod, class: 'form-control', placeholder: "enter yes for cod" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control', placeholder: "address", required: true %>
  </div>


  <div class="field">
    <%= form.label :phone_no %>
    <%= form.number_field :phone_no,class: 'form-control' , placeholder: "phone no", required: true  %>
  </div>
  <div class="row">
  <div class="col">
    <%= form.label :card_number %>
    <%= form.number_field :card_number,class: 'form-control' , placeholder: "optional for cod" %>
  </div>

  <div class="col">
    <%= form.label :cvv %>
    <%= form.number_field :cvv,class: 'form-control' , placeholder: "optional for cod" %>
  </div>

  <div class="col">
    <%= form.label :exp_date %>
    <%= form.date_field :exp_date,class: 'form-control' , placeholder: "optional for cod" %>
  </div>
</div><hr>
  <div class="actions">
    <%= form.submit "place order" ,class: 'btn btn-success' %>
  </div>
<% end %>
