<p id="notice"><%= notice %></p>

<h1>Buys</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Pin code</th>
      <th>Phone number</th>
      <th>Card number</th>
      <th>Cvv</th>
      <th>Exp date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buys.each do |buy| %>
      <tr>
        <td><%= buy.address %></td>
        <td><%= buy.pin_code %></td>
        <td><%= buy.phone_number %></td>
        <td><%= buy.card_number %></td>
        <td><%= buy.cvv %></td>
        <td><%= buy.exp_date %></td>
        <td><%= link_to 'Show', buy %></td>
        <td><%= link_to 'Edit', edit_buy_path(buy) %></td>
        <td><%= link_to 'Destroy', buy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buy', new_buy_path %>
