
<% @order_items.each do |item| %>
<h3><%= item.product.title %></h3>
<h5><%= item.product.price %></h5>


<%= form_for item do |f| %>
<%= f.hidden_field :product_id, :value => item.product.id %>
Qantity: <%= f.number_field :quantity, :value => item.quantity.to_i %>
<%= f.submit "update cards" %>


<%end%>
<h2>subtotal<%= item.total %></h2>
<%end%>