<h1>Bs</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Address</th>
      <th>Cod</th>
      <th>Phone no</th>
      <th>Card number</th>
      <th>Cvv</th>
      <th>Exp date</th>
    </tr>
  </thead>

  <tbody>
    <% @bs.each do |b| %>
      <tr>
        <td><%= b.address %></td>
        <td><%= b.cod %></td>
        <td><%= b.phone_no %></td>
        <td><%= b.card_number %></td>
        <td><%= b.cvv %></td>
        <td><%= b.exp_date %></td>
      </tr>
      



    <% end %>
  </tbody>
</table>


