<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", placeholder: "enter product name", required: true %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control", placeholder: "enter product price", required: true %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :product_user_id, class: 'form-control-plaintext', value: current_user.id,  readonly: true %>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="actions">
    <%= form.submit class: 'btn btn-outline-success' %><hr>
  </div>
<% end %>
